<?php
defined('env') or exit('Akses langsung ke Skrip ini diblokir');

$setDb['db_host'] = '127.0.0.1';
$setDb['db_name'] = 'capstone';
$setDb['db_user'] = 'root';
$setDb['db_password'] = 'root';

// folder templates
$template = 'templates/AdminLTE-2.4.17/';

//session
$setSession['prefix'] = 'webgis-php';

//URI
$setUri['base'] = 'http://localhost/monitoring/';
$setUri['assets'] = 'assets/';
